// 站點主標題
.site-title {
    font-size: 28px;
}
// 站點副標題
.site-subtitle{
    font-size: 12px;
}
// 文章標題
.posts-expand .post-title {
    color: rgb(26,26,26);
    font-size: 26px;
    font-weight: 700;
}
// 文章段落
.post-body h1 {
    border-bottom: none;
}
// 文章段落
.post-body h2 {
    border-bottom: none;
}
// 文章段落
.post-body h3 {
    border-bottom: none;
}
// 文章段落
.post-body h4 {
    border-bottom: none;
}
// 文章段落
.post-body h5 {
    border-bottom: none;
}
// 文章段落
.post-body h6 {
    border-bottom: none;
}
// 文章內容
.post-body {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
}
// 閱讀更多按鈕
.post-button .btn {
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    border: none;
    padding: 0px 15px;
}
// 閱讀更多按鈕 - 懸浮
.post-button .btn:hover {
    color: rgb(42, 109, 244);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}
// 全局鏈接
a {
    border-bottom: none;
    text-decoration: none;
}
// 全局鏈接 - 懸浮
a:hover {
    color: rgb(42, 109, 244);
    border-bottom: none;
    text-decoration: none;
}
// 菜單鏈接
.menu .menu-item a {
    font-size: 14px;
}
// 菜單鏈接 - 懸浮
.menu .menu-item a:hover {
    color: rgb(34, 34, 34);
    border-bottom: none;
    text-decoration: none;
}
// 文章鏈接（爲 emoji 特設）
.post-body a {
    color: rgb(51, 51, 51);
    border-bottom: none;
    text-decoration: none;
}
// 文章鏈接 - 懸浮（爲 emoji 特設）
.post-body a:hover {
    color: rgb(42, 109, 244);
    border-bottom: none;
    text-decoration: none;
}
// 側欄目錄鏈接
.post-toc ol a {
    border-bottom: none;
    text-decoration: none;
}
// 側欄目錄鏈接 - 懸浮
.post-toc ol a:hover {
    color: rgb(34, 34, 34);
    border-bottom: none;
    text-decoration: none;
}
// 着重號
.emphasis-point {
  font-weight:normal;
  text-emphasis:'•';
  -webkit-text-emphasis:'•';
  -moz-text-emphasis:'•';
  text-emphasis-position:under;
  -webkit-text-emphasis-position:under;
  -moz-text-emphasis-position:under
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Regular.eot');
  src: url('../fonts/EBGaramond-Regular.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/EBGaramond-Regular.ttf') format('truetype'),
       url('../fonts/EBGaramond-Regular.woff') format('woff'),
       url('../fonts/EBGaramond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Bold.eot');
  src: url('../fonts/EBGaramond-Bold.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/EBGaramond-Bold.ttf') format('truetype'),
       url('../fonts/EBGaramond-Bold.woff') format('woff'),
       url('../fonts/EBGaramond-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Italic.eot');
  src: url('../fonts/EBGaramond-Italic.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/EBGaramond-Italic.ttf') format('truetype'),
       url('../fonts/EBGaramond-Italic.woff') format('woff'),
       url('../fonts/EBGaramond-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-BoldItalic.eot');
  src: url('../fonts/EBGaramond-BoldItalic.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/EBGaramond-BoldItalic.ttf') format('truetype'),
       url('../fonts/EBGaramond-BoldItalic.woff') format('woff'),
       url('../fonts/EBGaramond-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

//@font-face {
//  font-family: 'Noto Serif TC';
//  src: url('../fonts/NotoSerifTC-Regular.eot');
//  src: url('../fonts/NotoSerifTC-Regular.eot?#font-spider') format('embedded-opentype'),
//       url('../fonts/NotoSerifTC-Regular.ttf') format('truetype'),
//       url('../fonts/NotoSerifTC-Regular.woff') format('woff'),
//       url('../fonts/NotoSerifTC-Regular.woff2') format('woff2');
//  font-weight: 400;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Noto Serif TC';
//  src: url('../fonts/NotoSerifTC-Bold.eot');
//  src: url('../fonts/NotoSerifTC-Bold.eot?#font-spider') format('embedded-opentype'),
//       url('../fonts/NotoSerifTC-Bold.ttf') format('truetype'),
//       url('../fonts/NotoSerifTC-Bold.woff') format('woff'),
//       url('../fonts/NotoSerifTC-Bold.woff2') format('woff2');
//  font-weight: 700;
//  font-style: normal;
//}

@font-face {
  font-family: 'Source Han Serif TW';
  src: url('../fonts/SourceHanSerifTW-Regular.eot');
  src: url('../fonts/SourceHanSerifTW-Regular.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/SourceHanSerifTW-Regular.ttf') format('truetype'),
       url('../fonts/SourceHanSerifTW-Regular.woff') format('woff'),
       url('../fonts/SourceHanSerifTW-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Han Serif TW';
  src: url('../fonts/SourceHanSerifTW-Bold.eot');
  src: url('../fonts/SourceHanSerifTW-Bold.eot?#font-spider') format('embedded-opentype'),
       url('../fonts/SourceHanSerifTW-Bold.ttf') format('truetype'),
       url('../fonts/SourceHanSerifTW-Bold.woff') format('woff'),
       url('../fonts/SourceHanSerifTW-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
