// =============================================================================
// 變量文件 修改後立即生效
// =============================================================================




// =============================================================================
// 變量設置
// =============================================================================


// Color system
// 顏色系統
// -----------------------------------------------------------------------------
$whitesmoke   = #f5f5f5;

$gainsboro    = #eeeeee;
$grey-d       = #dddddd;
$grey-c       = #cccccc;
$grey-b       = #bbbbbb;
$grey-9       = #999999;
$grey         = #808080;
$grey-6       = #666666;

$black-5      = #555555;
$black-4      = #444444;
$black-3      = #333333;
$black-2      = #222222;
$black-1      = #111111;
$black        = #000000;

$orange       = #fc6423;
$red          = #ff2a2a;
$blue         = #0684bd;
$blue-deep    = #262a30;


// Transition
// 轉換部分
// -----------------------------------------------------------------------------
$transition-ease     = .2s ease-in-out;
$transition-ease-in  = .2s ease-in;
$transition-ease-out = .2s ease-out;




// Scaffolding
// =============================================================================
// 模板設置
// =============================================================================


// Settings for some of the most global styles.
// 通用樣式
// -----------------------------------------------------------------------------

// Global text color on <body>
$text-color                   = $black-5;
$text-color-dark              = $grey-c;

// Global link color.
$link-color                   = $black-5;
$link-color-dark              = $grey-c;
$link-hover-color             = $black-2;
$link-hover-color-dark        = $gainsboro;
$link-decoration-color        = $grey-9;

$blockquote-color             = $grey-6;
$blockquote-color-dark        = $grey-b;

// Global border color.
$border-color                 = $grey-c;

// Background color for <body>
$body-bg-color                = $gainsboro;
$body-bg-color-dark           = #282828;
$content-bg-color             = white;
$content-bg-color-dark        = $black-3;

// Selection
$selection-bg                 = $black-5;
$selection-color              = $whitesmoke;

// Dark mode color
$card-bg-color                = $whitesmoke;
$card-bg-color-dark           = $black-5;

$menu-item-bg-color           = $whitesmoke;
$menu-item-bg-color-dark      = $black-5;




// Typography
// =============================================================================
// 排版設置
// =============================================================================


// Font, line-height, and elements colors.
// 字體｜行高｜元素顏色
// -----------------------------------------------------------------------------

// 字體家族
$font-family-chinese      = "Source Han Serif SC", "Source Han Serif TC", "Source Han Serif HC", "Source Han Serif CN", "Source Han Serif TW", "Source Han Serif HK", "Source Han Sans SC", "Source Han Sans TC", "Source Han Sans HC", "Source Han Sans CN", "Source Han Sans TW", "Source Han Sans HK", "Noto Serif SC", "Noto Serif TC", "Noto Sans SC", "Noto Sans TC", "PingFang SC", "PingFang TC", "Microsoft YaHei", sans-serif;

$font-family-base         = "EB Garamond", $font-family-chinese;
$font-family-base         = get_font_family('global'), $font-family-base if get_font_family('global');

$font-family-logo         = $font-family-base;
$font-family-logo         = get_font_family('title'), $font-family-logo if get_font_family('title');

$font-family-headings     = $font-family-base;
$font-family-headings     = get_font_family('headings'), $font-family-headings if get_font_family('headings');

$font-family-posts        = $font-family-base;
$font-family-posts        = get_font_family('posts'), $font-family-posts if get_font_family('posts');

$font-family-monospace    = "Iosevka Term Curly Slab", "Iosevka Term Slab", "Iosevka Term Curly", "Iosevka Term", "Iosevka Fixed Curly Slab", "Iosevka Fixed Slab", "Iosevka Fixed Curly", "Iosevka Fixed", "Iosevka Curly Slab", "Iosevka Slab", "Iosevka Curly", "Iosevka", "Courier New", monospace, $font-family-chinese;
$font-family-monospace    = get_font_family('codes'), $font-family-monospace if get_font_family('codes');

$font-family-icons        = 'FontAwesome';

// 字體大小
$font-size-base           = (hexo-config('font.enable') and hexo-config('font.global.size') is a 'unit') ? unit(hexo-config('font.global.size'), em) : 1em;
$font-size-smallest       = .75em;
$font-size-smaller        = .8125em;
$font-size-small          = .875em;
$font-size-medium         = 1em;
$font-size-large          = 1.125em;
$font-size-larger         = 1.25em;
$font-size-largest        = 1.375em;

// 字體大小 - 標題
$font-size-headings-step  = .125em;
$font-size-headings-base  = (hexo-config('font.enable') and hexo-config('font.headings.size') is a 'unit') ? unit(hexo-config('font.headings.size'), em) : 2em;

// 全局行高
$line-height-base         = 2;
$line-height-code-block   = 1.6; // Can't be less than 1.3;


// Z-index master list
// -----------------------------------------------------------------------------
$zindex-0       = 1000;
$zindex-1       = 1100;
$zindex-2       = 1200;
$zindex-3       = 1300;
$zindex-4       = 1400;
$zindex-5       = 1500;


// Table
// 表格
// -----------------------------------------------------------------------------
$table-border-color             = $grey-d;
$table-font-size                = $font-size-small;
$table-cell-border-bottom-color = $grey-d;
$table-row-odd-bg-color         = #f9f9f9;
$table-row-odd-bg-color-dark    = #282828;
$table-row-hover-bg-color       = $whitesmoke;
$table-row-hover-bg-color-dark  = #363636;


// Code & Code Blocks
// 代碼
// -----------------------------------------------------------------------------
$code-font-family               = $font-family-monospace;

$highlight-background           = $gainsboro;
$highlight-foreground           = #000;

//$highlight-background-dark      = $gainsboro;
//$highlight-foreground-dark      = #000;


// Buttons
// 按鈕
// -----------------------------------------------------------------------------
$btn-default-radius                    = 0;
$btn-default-bg                        = $black-2;
$btn-default-bg-dark                   = $black-2;
$btn-default-color                     = white;
$btn-default-color-dark                = $text-color-dark;
$btn-default-border-color              = $black-2;
$btn-default-border-color-dark         = $black-5;
$btn-default-hover-bg                  = white;
$btn-default-hover-bg-dark             = $grey-6;
$btn-default-hover-color               = $black-2;
$btn-default-hover-color-dark          = $text-color-dark;
$btn-default-hover-border-color        = $black-2;
$btn-default-hover-border-color-dark   = $grey-6;


// Pagination
// 分頁
// -----------------------------------------------------------------------------
$pagination-border              = $gainsboro;

$pagination-link-bg             = transparent;
$pagination-link-color          = $link-color;
$pagination-link-border         = $gainsboro;

$pagination-link-hover-bg       = transparent;
$pagination-link-hover-color    = $link-color;
$pagination-link-hover-border   = var(--link-hover-color);

$pagination-active-bg           = $grey-c;
$pagination-active-color        = var(--content-bg-color);
$pagination-active-border       = $grey-c;


// Layout sizes
// 頁面尺寸
// -----------------------------------------------------------------------------
$content-desktop                = 1080px;
$content-desktop-large          = 1080px;
$content-desktop-largest        = 1080px;

$content-desktop-padding        = 40px;
$content-tablet-padding         = 10px;
$content-mobile-padding         = 8px;


// Headband
// -----------------------------------------------------------------------------
$headband-height                = 3px;
$headband-bg                    = $black-2;




// Section Header
// =============================================================================
// 標題設置
// =============================================================================


// Variables for header section elements.
// -----------------------------------------------------------------------------
$head-bg                        = transparent;


// Site Meta
$site-meta-text-align           = center;
$brand-color                    = white;
$brand-hover-color              = white;
$brand-color-dark               = $grey-d;
$brand-hover-color-dark         = $grey-d;

$font-size-title                = (hexo-config('font.enable') and hexo-config('font.title.size') is a 'unit') ? unit(hexo-config('font.title.size'), em) : 1.375em;
$font-size-subtitle             = $font-size-smaller;
$subtitle-color                 = $grey-9;
$site-subtitle-color            = $grey-9;


// Posts Collpase
// -----------------------------------------------------------------------------
$posts-collapse-margin          = 35px;
$posts-collapse-margin-mobile   = 0px;


// Tag Cloud
// -----------------------------------------------------------------------------
$tag-cloud-start      = #aaa;
$tag-cloud-end        = #111;
$tag-cloud-start-dark = #555;
$tag-cloud-end-dark   = #eee;




// Sidebar
// =============================================================================
// 側欄設置
// =============================================================================


// Variables for sidebar section elements.
// -----------------------------------------------------------------------------
$sidebar-padding                      = hexo-config('sidebar.padding') is a 'unit' ? unit(hexo-config('sidebar.padding'), px) : 18px;
$sidebar-offset                       = hexo-config('sidebar.offset') is a 'unit' ? unit(hexo-config('sidebar.offset'), px) : 12px;
$sidebar-nav-color                    = $black-5;
$sidebar-nav-hover-color              = $black-2;
$sidebar-highlight                    = $orange;

$site-author-image-width              = 96px;
$site-author-image-border-width       = 2px;
$site-author-image-border-color       = $whitesmoke;

$site-author-name-margin              = 5px 0 0;
$site-author-name-color               = $black-3;
$site-author-name-weight              = normal;

$site-description-font-size           = $font-size-medium;
$site-description-color               = $grey-9;
$site-description-margin-top          = 5px;

$site-state-item-count-font-size      = $font-size-larger;
$site-state-item-name-font-size       = $font-size-small;
$site-state-item-name-color           = inherit;


// Components
// -----------------------------------------------------------------------------
// Back to top
$b2t-opacity                  = .8;
$b2t-opacity-hover            = 1;
$b2t-position-bottom          = -100px;
$b2t-position-bottom-on       = 19px;
$b2t-position-right           = 30px;
$b2t-position-right-mobile    = 20px;
$b2t-font-size                = 12px;
$b2t-color                    = white;
$b2t-bg-color                 = $black-2;
